
/* Your CSS Code here. */
img {
  border: 8px solid #ccc;
  display: block; /* Ensures inline elements like <img> are treated as block elements */
  margin: 0 auto; /* Center the image */
  max-width: 100%; /* Make sure the image doesn't exceed its container's width */
}


area {
  outline: 8px solid red; 
  cursor: pointer;
}
